.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 101vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $colorTxt;
  user-select: none;

  * {
    box-sizing: border-box;
  }

  > * {
    margin-top: 2rem;
  }

  h1 {
    color: $color5;
    text-shadow: 0 0 0.8rem $color14;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .LogoJs,
  .LogoReact {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .LogoJs {
    background-image: url("#{$recourcePath}/image/js_logo.png");
  }

  .LogoReact {
    background-image: url("#{$recourcePath}/image/react_logo.png");
  }

  .Link {
    display: inline-block;
    padding: 1.5rem;
    margin: 0.5rem;
    color: $color4;
    font-size: 1.4rem;
    background-color: $color9;
    border: 1px solid $color8;
    border-radius: 0.5rem;

    &.LinkActive {
      color: $color14;
      box-shadow: 0 0.2rem 0.2rem $color14;
    }
  }
}
