.App {
    min-height: 101vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $colorTxt;
    background-color: $colorBkg;
    user-select: none;
  
    * {
      box-sizing: border-box;
    }
  
    ul,
    li {
      margin: 0;
      padding: 0;
    }
  }
  